.menu {
  &__container {
    list-style-type: none;
  };
  &__item {
    float: left;
    margin: 0.5rem;
    font-size: 1.5rem;
    a {
      color: white;
      text-decoration: none;
      :visited { color: white};
    }
  }
}
